<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>user4::list</title>
</head>
<body>
<h3>user4 목록</h3>
<a th:href="@{/}">처음으로</a>
<a th:href="@{/user4/register}">등록하기</a>
<table border="1">
  <tr>
    <th>아이디</th>
    <th>이름</th>
    <th>휴대폰</th>
    <th>생년월일</th>
    <th>주소</th>
    <th>성별</th>
    <th>관리</th>
  </tr>
  <tr>
    <td>a101</td>
    <td>홍길동</td>
    <td>010-1234-1234</td>
    <td>1999-10-11</td>
    <td>부산 남구</td>
    <td>M</td>
    <td>
      <a th:href="@{/user4/modify}">수정</a>
      <a th:href="@{/user4}">삭제</a>
    </td>
  </tr>
</table>
</body>
</html>