<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>user3::list</title>
</head>
<body>
<h3>user3 목록</h3>
<a th:href="@{/}">처음으로</a>
<a th:href="@{/user3/register}">등록하기</a>
<table border="1">
  <tr>
    <th>아이디</th>
    <th>이름</th>
    <th>생일</th>
    <th>휴대폰</th>
    <th>주소</th>
    <th>관리</th>
  </tr>
  <tr>
    <td>ㅁㄴㅇㅁㄴㅇ</td>
    <td>ㅁㄴㅇㅁㄴㅇ</td>
    <td>ㅁㄴㅇㅁㄴㅇ</td>
    <td>ㅁㄴㅇㅁㄴㅇ</td>
    <td>ㅁㅇㄴㅁㄴㅇ</td>
    <td>
      <a th:href="@{/user1/modify}">수정</a>
      <a th:href="@{/user1/delete}">삭제</a>
    </td>
  </tr>
</table>
</body>
</html>